<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.atguigu.tingshu.album.mapper.AlbumStatMapper">

    <!-- 根据专辑ID获取专辑统计信息  -->
    <select id="selectAlbumStatVo" resultType="com.atguigu.tingshu.vo.album.AlbumStatVo" >
        select ast.album_id,
               max(if(ast.stat_type='0401',ast.stat_num,0)) playStatNum,
               max(if(ast.stat_type='0402',ast.stat_num,0)) subscribeStatNum,
               max(if(ast.stat_type='0403',ast.stat_num,0)) buyStatNum,
               max(if(ast.stat_type='0404',ast.stat_num,0)) commentStatNum
        from album_stat ast where ast.album_id=#{albumId} and ast.is_deleted=0
    </select>

</mapper>